@font-face {
  font-family: "Press Start 2P";
  src: url("../../files/fonts/Press_Start_2P/PressStart2P-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url("../../files/fonts/Rubik_Glitch/RubikGlitch-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Glitch Pop";
  src: url("../../files/fonts/Rubik_Glitch_Pop/RubikGlitchPop-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Iso";
  src: url("../../files/fonts/Rubik_Iso/RubikIso-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Wet Paint";
  src: url("../../files/fonts/Rubik_Wet_Paint/RubikWetPaint-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
